@import "tailwindcss";

:root {
  --primary: #212121;
  --secondery: #c69276;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondery: var(--secondery);
  --font-italianno: var(--font-italianno);
  --font-darkerGrotesque: var(--font-darker-grotesque);
  --font-cormorantUnicase: var(--font-cormorant-unicase);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
